/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 2, 2024, 10:01:06 AM
    Author     : lmao
*/

/* Add your CSS code here */

/* Reset CSS */

.clr {
    clear: both;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f0f0f0;
}

a {
    color: brown;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: antiquewhite;
}

form input[type="text"], form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
    border: 1px solid #ddd;
}

form input, form button {
    padding: 10px;
    border-radius: 1px;
    border: none;
    cursor: pointer;

}

form input[type="submit"] {
    background-color: #80bdff;

}

form input[type="submit"]:hover {
    background-color: #57b846;
}

form input[type="reset"] {
    background-color: #c3e6cb;

}

form input[type="reset"]:hover {
    background-color: #f8d7da;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}


.container {
    margin: 20px auto;
    width: 80%;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

.h33 {
    display: flex;
    justify-content: center;
    
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

#menu_tab {
    margin: 0 0 20px 0;
    background-color: rgb(48, 178, 172);
}

.menu{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-content: center;
}

.menu img {
    width: 30%;
    height: auto;
    
}

label p{
    font-weight: bolder;
}

.menu li {
    display: flex;
    list-style-type: none;
    width: 10%;
    text-align: center;
    align-items: center;

}

.menu li:hover {
    background-color: #333;
    color: #fff;
}

.label, .input, .select, .option {
    margin: auto;
    font-size: 2rem;
    color: cadetblue;
    
}

.back {
    background-color: #e2e6ea;
    width: 50%;
    height: auto;
}

.text-center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}


